body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    text-align: center;
    font-size: 32px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 24px;
    padding: 10px;
    margin-right: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Estilos para telas maiores */
.container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos para telas menores */
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  
  /* Estilos para telas ainda menores */
  @media screen and (max-width: 480px) {
    .container {
      width: 95%;
    }
  }
  